<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/profile.jpg">
            </a>
            <div class="content">
                <a class="header">Tylar Murray</a>
                <div class="description">
                    <p>2016 - Present : System Administrator / Research Software Engineer at USF IMaRS.</p>
                    <p>PhD Electrical Engineering | BS Physics</p>
                    <p>See <a src="http://tylar.info">tylar.info</a> for more.</p>
                </div>
            </div>
        </div>
    </div>
</div>
