<!--
Common header to be included on most pages.
Includes main navigation and basic branding.
-->


<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {% if page.layout != "post" %}
        <div class="head-area">
            <h1 class="site-logo">
                <a href="/"><img src="/assets/img/logo.gif" class="logo"/></a>
            </h1>
            <h3 class="site-description">{{ site.description }}</h3>
        </div>
        {% endif %}
        <nav class="site-nav">
            <div class="left-nav">
                <!-- add titles to all buttons -->
                <div class="ui menu blue inverted">
                    <a class="item" href="/">
                        Home
                    </a>
                    <div class="ui pointing dropdown link item">
                        <span class="text">Satellite Images</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                          <!-- <div class="header">Sample Menu Header</div> -->
                          <div class="item">
                            <i class="dropdown icon"></i>
                            <span class="text">SeaWIFS</span>
                            <div class="menu">
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/amaz/years">
                                    Amazon
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/belize/years">
                                  Belize
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/cbay/years">
                                  Chesapeake Bay
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/cuba/years">
                                  Cuba
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/gcoos/years">
                                  Gulf of Mexico
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/mriver/years">
                                  Mississippi River
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/sarg/years">
                                  Sargasso Sea
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/scar/years">
                                  South East Carribean
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/seacoos/years">
                                  South US South East Coast
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/florida/years">
                                  West Florida Shelf
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/wna/years">
                                  Western North Atlantic
                                </a>
                                <a class="item" href="http://www.imars.usf.edu/products/pass/seawifs/windward/years">
                                  Windward
                                </a>
                            </div>
                          </div>
                          <div class="item">Animations</div>
                          <div class="divider"></div>
                          <div class="item">Other Accesses</div>
                          <div class="header">FTP Site</div>
                          <div class="item">Thredds Server</div>
                          <div class="item">AVHRR, MODIS, VIIRS</div>
                        </div>
                    </div>
                    <div class="ui pointing dropdown link item">
                        <span class="text">Projects</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                          <div class="item">Cariaco</div>
                          <div class="item">CRW-DSS</div>
                          <div class="header">Clean Community</div>
                          <div class="item">Coastal Cities Summit</div>
                          <div class="item">Millennium Corals</div>
                          <div class="item">Oceanic Atlas</div>
                          <div class="item">UAS</div>
                          <div class="item">Education</div>
                        </div>
                    </div>

                    <a class="item" href="/archive.html"> <!-- TODO: fix link-->
                        International Ocean Institute - USA
                    </a>
                    <div class="ui pointing dropdown link item">
                        <span class="text">IMaRS Team</span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                          <div class="item">TODO: set these with a team-members collection</div>
                        </div>
                    </div>
                    <a class="item" href="/archive.html"> <!-- TODO: fix link-->
                        Contact
                    </a>
                    <div class="right menu">
                        <div id="head-search" class="ui category search item">
                            <div class="ui transparent icon input">
                                <input placeholder="Search..." type="text" id="search-input" onkeypress="handleKeyPress()">
                                <i class="search link icon" onclick="handleSubmit()"></i>
                            </div>
                        </div>

                        <!-- <a class="item" href="http://stallman.org/facebook.html">
                            <i class="facebook link icon"></i>
                        </a> -->
                        <a class="item" href="https://github.com/usf-imars">
                            <i class="github link icon"></i>
                        </a>
                        <!-- <a class="item" href="/feed.xml">Subscribe</a> -->
                    </div>
                </div>
            </div>
            <div class="right-nav"></div>
        </nav>
    </header>
</div>
